@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import "compass/reset";
@import "partials/_helpers.scss";
@import "compass/css3/pie";
@import "compass/css3";
@import "partials/_variables.scss";
@import "partials/_grids.scss";
@import "partials/icomoon/_icomoon.scss";
@import "partials/nav.scss";

body {
	color: $textColour;
	background: $bodyBackground;
	line-height: $lineHeight;
	font-family: $baseFontFamily;
}

/* Type */
h1, h2, h3, h4, h5, h6 {
	font-weight: $headingFontWeight;
}
@for $i from 1 through 6 {
	h#{$i} {
		font-size: (($em * $multiplierLarge) - (($i * (($em * $multiplierLarge) / 6 )))) + ($em * $multiplier);
	}
}
.button, button, .btn, input[type="submit"], a.submit {

	background: $buttonPrimaryColour;
	border: $border;
	cursor: pointer;

	font-size: $fontSizeMedium;
	font-weight: 400;

	margin: 0 $margin 0 0;
	padding: $borderRadiusLarge $padding;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;

	@include background(linear-gradient(#ededed, #d9d9d9));
	@include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 4px rgba(150, 150, 150, 0.5));
	@include border-radius($borderRadiusLarge);

	&:hover, &:focus, &.loading {
		background: #2F5163;
		border-color: #333;
		color: #fff;
		text-shadow: 0 1px 1px #111;
		@include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5));
		@include background(linear-gradient(lighten(#2F5163, 10%), #2F5163));
	}

	&:active {
		border-color: #000;
		@include box-shadow(inset 0 0 $borderRadiusLarge #000);
	}

}

.actions, .form-actions {
	text-align: center;
	border-top: 1px solid $borderColour;
	background: rgba(217, 217, 217, 0.2);
	padding: $margin 0;

	input, .btn, button {
		margin: 0 -1px 0 0;
		&:last-child {
			@include border-top-left-radius(0);
			@include border-bottom-left-radius(0);
		}
		&:first-child {
			@include border-top-right-radius(0);
			@include border-bottom-right-radius(0);
		}
	}

}

.toolbar, .btn-group, .actions input {
	position: relative;
	margin: 0;

	li {

		@include inline-block();
		&:first-child a {
			@include border-top-left-radius($borderRadius);
			@include border-bottom-left-radius($borderRadius);
		}
		&:last-child a {
			@include border-top-right-radius($borderRadius);
			@include border-bottom-right-radius($borderRadius);
		}

		a {
			font-size: $fontSizeSmall;
			font-weight: 400;
			margin-right: -1px;
		}
	}
}

.box {
	margin: $margin;
	@include box-sizing(border-box);
	padding: $padding;
	border: $border;
	//@include box-shadow($shadow);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, p, h1, h2, h3, h4, h5, h6, blockquote, pre, address, cite, code, del, dfn, img, q, dl, ul, fieldset, form, legend, table, caption, summary, audio, video {
	margin-bottom: $margin; //spaced only at bottom by default
}

nav, nav li, .toolbar, .toolbar li, .btn-group {
	@include inline-block();
	input {
		@include inline-block();
	}
}

/* =============================================================================
Border Radius
========================================================================== */
nav, button, .btn, .box, .rounded, pre, code, aside, menu, .nav {
	@include border-radius($borderRadius);
	@include pie;
}

/* =============================================================================
Borders
========================================================================== */

.bordered, .box {
	border: $border;
}

.shadowed {
	@include box-shadow($shadow);
}

.border-bottom, legend, header, footer, article, section {
	border-bottom: $borderStyle $borderColour;
}

@import "partials/media-queries";