@import "compass/css3";
@import "variables.scss";
@import "susy";
@import "breakpoint";

@function col-name($n) {
/* Use naming consistent with original 1140x Grid V2 */
	$col-name: $columnNotation; //default

	@if $n == 1  {
		$col-name: one;
	}
	@if $n == 2  {
		$col-name: two;
	}
	@if $n == 3  {
		$col-name: three;
	}
	@if $n == 4  {
		$col-name: four;
	}
	@if $n == 5  {
		$col-name: five;
	}
	@if $n == 6  {
		$col-name: six;
	}
	@if $n == 7  {
		$col-name: seven;
	}
	@if $n == 8  {
		$col-name: eight;
	}
	@if $n == 9  {
		$col-name: nine;
	}
	@if $n == 10 {
		$col-name: ten;
	}
	@if $n == 11 {
		$col-name: eleven;
	}
	@if $n == 12 {
		$col-name: twelve;
	}
	@if $n == 13 {
		$col-name: thirteen;
	}
	@if $n == 14 {
		$col-name: fourteen;
	}
	@if $n == 15 {
		$col-name: fifteen;
	}
	@if $n == 16 {
		$col-name: sixteen;
	}
	@return $col-name#{$columnNotation};
}

@function relativeColName($n, $num-cols) {
	$colClassFloat: $num-cols / $n;
	@return round($colClassFloat);
}

%col {
	@extend %transition-all;
}

@for $i from 1 through ($num-cols) {
	%#{col-name($i)} {
		@extend %col;
	}

	%#{$rowNotation} {
		%#{col-name($i)}:last-child {
			@extend %last !optional;
			@include span-columns($i omega, $num-cols);
		}
	}
}

.container {
	@include container;
	@extend %border-box;
	%#{$rowNotation} {
		width: $container-width;
		margin: 0 auto;
		@extend %overflow-hidden;
		@extend %padding-none;
		@extend %border-box;

		&%extended-height {
			@extend %overflow-visible;
		}
	}
}

@for $i from 1 through ($num-cols) {
	%#{$rowNotation} {
		%#{col-name($i)} {
			@if $i == $num-cols {
				@include span-columns($i omega, $num-cols);
			}
			@else {
				@include span-columns($i, $num-cols);
			}
		}
	}
}

%last {
	margin-right: 0;
}