@import "compass/css3";
@import "variables.scss";
@import "susy";
@import "breakpoint";

$container-width: $rowWidth;
$total-columns: $num-cols;
$column-width: 4%;
$gutter-width: 2%;
$grid-padding: 1%;
$from-direction: left;

$container-style: fluid;

@function col-name($n) {
/* Use naming consistent with original 1140x Grid V2 */
	$col-name: col;

	@if $n == 1  {
		$col-name: onecol;
	}
	@if $n == 2  {
		$col-name: twocol;
	}
	@if $n == 3  {
		$col-name: threecol;
	}
	@if $n == 4  {
		$col-name: fourcol;
	}
	@if $n == 5  {
		$col-name: fivecol;
	}
	@if $n == 6  {
		$col-name: sixcol;
	}
	@if $n == 7  {
		$col-name: sevencol;
	}
	@if $n == 8  {
		$col-name: eightcol;
	}
	@if $n == 9  {
		$col-name: ninecol;
	}
	@if $n == 10 {
		$col-name: tencol;
	}
	@if $n == 11 {
		$col-name: elevencol;
	}
	@if $n == 12 {
		$col-name: twelvecol;
	}

	@return $col-name;
}

.col {
	min-height: 1px;
}

@for $i from 1 through ($num-cols) {
	.#{col-name($i)} {
		@extend .col;
	}
	.row {
		.#{col-name($i)}:last-child {
			@extend .last !optional;
			@include span-columns($i omega, $num-cols);
		}
	}
}

.container {
	@include container;
	@include box-sizing(border-box);
	.row {
		width: $container-width;
		margin: 0 auto;
		overflow: hidden;
		padding: 0 ($lineHeight/2) * 1em;
		@include box-sizing(border-box);
		@include transition($transitionTime all);

		&.extended-height {
			overflow: visible;
		}
	}
}

@for $i from 1 through ($num-cols) {
	.row {
		.#{col-name($i)} {
			@if $i == $num-cols {
				@include span-columns($i omega, $num-cols);
			}
			@else {
				@include span-columns($i, $num-cols);
			}
		}
	}
}

.last {

}
/*.row .#{ col-name($num-cols) } {
	width: $rowWidth;
	float: left;
}*/

img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
	width: 100%;
}