@import "compass/css3";
@import "variables.scss";
@import "susy";
@import "breakpoint";

@function col-name($n) {
/* Use naming consistent with original 1140x Grid V2 */
	$col-name: col;

	@if $n == 1  {
		$col-name: onecol;
	}
	@if $n == 2  {
		$col-name: twocol;
	}
	@if $n == 3  {
		$col-name: threecol;
	}
	@if $n == 4  {
		$col-name: fourcol;
	}
	@if $n == 5  {
		$col-name: fivecol;
	}
	@if $n == 6  {
		$col-name: sixcol;
	}
	@if $n == 7  {
		$col-name: sevencol;
	}
	@if $n == 8  {
		$col-name: eightcol;
	}
	@if $n == 9  {
		$col-name: ninecol;
	}
	@if $n == 10 {
		$col-name: tencol;
	}
	@if $n == 11 {
		$col-name: elevencol;
	}
	@if $n == 12 {
		$col-name: twelvecol;
	}

	@return $col-name;
}

%col {
	min-height: 1px;
	@extend %transition-all;
}

@for $i from 1 through ($num-cols) {
	.#{col-name($i)} {
		@extend %col;
	}
	.#{$rowNotation} {
		.#{col-name($i)}:last-child {
			@extend .last !optional;
			@include span-columns($i omega, $num-cols);
		}
	}
}

.container {
	@include container;
	@extend .border-box;
	.#{$rowNotation} {
		width: $container-width;
		margin: 0 auto;
		overflow: hidden;
		@extend %padding-none;
		@extend .border-box;

		&.extended-height {
			overflow: visible;
		}
	}
}

@for $i from 1 through ($num-cols) {
	.#{$rowNotation} {
		.#{col-name($i)} {
			@if $i == $num-cols {
				@include span-columns($i omega, $num-cols);
			}
			@else {
				@include span-columns($i, $num-cols);
			}
		}
	}
}

.last {
	margin-right: 0 !important;
}