/**
 * Non-semantic helper classes: please define your styles before this section
 */
@import "compass/css3/pie";
@import "compass/css3";

/* =============================================================================
Visibility Helpers
========================================================================== */
/* For image replacement */
%ir {
	display: block;
	text-indent: -99in;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
%hidden {
	display: none;
}

%show-phone {
	display: none;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
%visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	left: -500%;
	
	&.focusable {
		&:active, &:focus { /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}

/* Hide visually and from screenreaders, but maintain layout */
%invisible {
	visibility: hidden;
}

%visible {
	visibility: visible;
}
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */

%clearfix {
	zoom: 1; //for IE
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

%centred {
	text-align: center;
}

/* =============================================================================
CSS3 PIE
========================================================================== */
@if $pie-enabled == true {
	.pie-element {
		// relative is the default, so passing relative
		// is redundant, but we do it here for clarity%
		@include pie-element(relative);
	}
// But sometimes this messes up your positioning
// So you can also use z-indexing. In this case
// an ancestor element before or having the first
// opaque background should be marked as a pie-container
// which gives it a z-index of 0 (actually any z-index
// can be provided to the pie-container mixin).
// And then the pie element itself should be given
// a z-index of -1.
	.pie-container {
		@include pie-container;
	}
	.pie {
		@include pie;
	}
}

/* =============================================================================
Overflow
========================================================================== */
%overflow-visible {
	overflow: visible;
}

%overflow-hidden {
	overflow: hidden;
}

/* =============================================================================
Margins
========================================================================== */

/* Normal margin */
%normal-margin {
	margin: $margin;
}

%margin-none {
	margin: 0;
}

%normal-margin-bottom {
	margin-bottom: $margin;
}

%normal-margin-top {
	margin-top: $margin;
}

%normal-margin-left {
	margin-left: $margin;
}

%normal-margin-right {
	margin-right: $margin;
}

/* Normal margin combinations */
%normal-margin-top-bottom {
	margin: $margin 0;
}

%normal-margin-left-right {
	margin: 0 $margin;
}

/* Large Margin */

%large-margin {
	margin: $marginLarge;
}

%large-margin-top-bottom {
	margin: $marginLarge 0;
}

%large-margin-left-right {
	margin: 0 $marginLarge;
}

%large-margin-bottom {
	margin-bottom: $marginLarge;
}

%large-margin-right {
	margin-right: $marginLarge;
}

%large-margin-left {
	margin-left: $marginLarge;
}

/* Small Margin */

%small-margin {
	margin: $marginSmall;
}

%small-margin-top-bottom {
	margin: $marginSmall 0;
}

%small-margin-left-right {
	margin: 0 $marginSmall;
}

%small-margin-bottom {
	margin-bottom: $marginSmall;
}

%small-margin-right {
	margin-right: $marginSmall;
}

%small-margin-left {
	margin-left: $marginSmall;
}

/* Mini Margin */

%mini-margin {
	margin: $marginMini;
}

%mini-margin-top-bottom {
	margin: $marginMini 0;
}

%mini-margin-left-right {
	margin: 0 $marginMini;
}

%mini-margin-bottom {
	margin-bottom: $marginMini;
}

%mini-margin-right {
	margin-right: $marginMini;
}

%mini-margin-left {
	margin-left: $marginMini;
}

/* =============================================================================
Padding
========================================================================== */

/* Normal padding */
%normal-padding {
	padding: $padding;
}

%padding-none {
	padding: 0;
}

%normal-padding-top-bottom {
	padding: $padding 0;
}

%normal-padding-left-right {
	padding: 0 $padding;
}

%normal-padding-bottom {
	padding-bottom: $padding;
}

%normal-padding-right {
	padding-right: $padding;
}

%normal-padding-left {
	padding-left: $padding;
}

/* Large Padding */

%large-padding {
	padding: $paddingLarge;
}

%large-padding-top-bottom {
	padding: $paddingLarge 0;
}

%large-padding-left-right {
	padding: 0 $paddingLarge;
}

%large-padding-bottom {
	padding-bottom: $paddingLarge;
}

%large-padding-right {
	padding-right: $paddingLarge;
}

%large-padding-left {
	padding-left: $paddingLarge;
}

/* Small Padding */

%small-padding {
	padding: $paddingSmall;
}

%small-padding-top-bottom {
	padding: $paddingSmall 0;
}

%small-padding-left-right {
	padding: 0 $paddingSmall;
}

%small-padding-bottom {
	padding-bottom: $paddingSmall;
}

%small-padding-right {
	padding-right: $paddingSmall;
}

%small-padding-left {
	padding-left: $paddingSmall;
}

/* Mini Padding */

%mini-padding {
	padding: $paddingMini;
}

%mini-padding-top-bottom {
	padding: $paddingMini 0;
}

%mini-padding-left-right {
	padding: 0 $paddingMini;
}

%mini-padding-bottom {
	padding-bottom: $paddingMini;
}

%mini-padding-right {
	padding-right: $paddingMini;
}

%mini-padding-left {
	padding-left: $paddingMini;
}

/* =============================================================================
Border radius
========================================================================== */

//CSS PIE for all rounded corners
%rounded, %rounded-left, %rounded-right, %rounded-top, %rounded-bottom, %rounded-large, %rounded-left-large, %rounded-right-large, %rounded-bottom-large, %rounded-top-large {
	@if ($pie-enabled == true) {
		@extend .pie;
	}
}

/* Normal border radii */

%rounded {
	@include border-radius($borderRadius);
}

%rounded-left {
	@include border-top-left-radius($borderRadius);
	@include border-bottom-left-radius($borderRadius);
}

%rounded-right {
	@include border-top-right-radius($borderRadius);
	@include border-bottom-right-radius($borderRadius);
}

%rounded-top {
	@include border-top-left-radius($borderRadius);
	@include border-top-right-radius($borderRadius);
}

%rounded-bottom {
	@include border-bottom-left-radius($borderRadius);
	@include border-bottom-right-radius($borderRadius);
}

%rounded-left-none {
	@include border-top-left-radius(0);
	@include border-bottom-left-radius(0);
}

/* Large border radii */

%rounded-large {
	@include border-radius($borderRadiusLarge);
}

%rounded-left-large {
	@include border-top-left-radius($borderRadiusLarge);
	@include border-bottom-left-radius($borderRadiusLarge);
}

%rounded-right-large {
	@include border-top-right-radius($borderRadiusLarge);
	@include border-bottom-right-radius($borderRadiusLarge);
}

%rounded-top-large {
	@include border-top-left-radius($borderRadiusLarge);
	@include border-top-right-radius($borderRadiusLarge);
}

%rounded-bottom-large {
	@include border-bottom-left-radius($borderRadiusLarge);
	@include border-bottom-right-radius($borderRadiusLarge);
}

/* No rounded radii (useful for overriding other elements with radii) */

%rounded-none {
	@include border-radius(0);
}

%rounded-left-none {
	@include border-top-left-radius(0);
	@include border-bottom-left-radius(0);
}

%rounded-right-none {
	@include border-top-right-radius(0);
	@include border-bottom-right-radius(0);
}

%rounded-top-none {
	@include border-top-left-radius(0);
	@include border-top-right-radius(0);
}

%rounded-bottom-none {
	@include border-bottom-left-radius(0);
	@include border-bottom-right-radius(0);
}


%border-box {
	@include box-sizing(border-box);
	@if ($pie-enabled == true) {
		*behavior: url(/css/boxsizing.htc); //allow correct box-sizing on IE 6, 7 (will not work on localhost)
		//also, make sure to add `AddType text/x-component .htc` to apache.config file
	}
}

%transition-all {
	@include transition($transitionTime all $transitionFunction);
}

/* =============================================================================
Font Sizes
========================================================================== */
%large {
	font-size: $fontSizeLarge;
}

%medium {
	font-size: $fontSizeMedium;
}

%small {
	font-size: $fontSizeSmall;
}

%mini {
	font-size: $fontSizeMini;
}

/* =============================================================================
Opacity/visibility
========================================================================== */
%opacity-0 {
	@include opacity(0);
}

%opacity-05 {
	@include opacity(0.5);
}

%opacity-1 {
	@include opacity(1);
}

/* =============================================================================
Borders
========================================================================== */
%bordered {
	border: $border;
}

%bordered-right {
	border-right: $border;
}

%bordered-left {
	border-left: $border;
}

%bordered-top {
	border-top: $border;
}

%bordered-bottom {
	border-bottom: $border;
}

%border-none {
	border: 0;
}

/* =============================================================================
Floats
========================================================================== */
%pull-left {
	float: left;
}
%pull-right {
	float: right;
}

/* =============================================================================
Positions
========================================================================== */
%absolute {
	position: absolute;
}

%fixed {
	position: fixed;
}

%relative {
	position: relative;
}

%static {
	position: static;
}

/* =============================================================================
Display modes
========================================================================== */
%block {
	display: block;
}

%inline { //made into a class for potential markup in CMS
	@include inline-block();
}

/* =============================================================================
Lists
========================================================================== */
%no-list-style {
	list-style: none;
}

/* =============================================================================
Links
========================================================================== */
%text-decoration-none {
	text-decoration: none;
}

/* =============================================================================
Widths
========================================================================== */
%row-width {
	width: $rowWidth;
}