//   ---
//   @ iphone3                                // only iPhone (2, 3G, 3GS) landscape & portrait
//   @ iphone3-landscape                      // only iPhone (2, 3G, 3GS) only landscape
//   @ iphone3-portrait                       // only iPhone (2, 3G, 3GS) only portrait
//   ---
//   @ iphone4                                // only iPhone (4, 4S) landscape & portrait
//   @ iphone4-landscape                      // only iPhone (4, 4S) only landscape
//   @ iphone4-portrait                       // only iPhone (4, 4S) only portrait
//   ---
//   @ iphone5                                // only iPhone (5) landscape & portrait
//   @ iphone5-landscape                      // only iPhone (5) only landscape
//   @ iphone5-portrait                       // only iPhone (5) only portrait
//   ---
//   @ ipad                                   // all iPads (1, 2, 3, 4, Mini) landscape & portrait
//   @ ipad-landscape                         // all iPads (1, 2, 3, 4, Mini) only landscape
//   @ ipad-portrait                          // all iPads (1, 2, 3, 4, Mini) only portrait
//   ---
//   @ ipad-retina                            // only iPad (3, 4) landscape & portrait
//   @ ipad-retina-landscape                  // only iPad (3, 4) only landscape
//   @ ipad-retina-portrait                   // only iPad (3, 4) only portrait
//   ---
//   @ hdpi(ratio)                            // devices with hidpi displays (default ratio: 1.3)
//
// ---------------------------------------------------------------------------------------------------------------------

/* --- main content ------------------------------------------------------------------------------------------------- */
@import "variables.scss";
@import "compass/css3";

/* --- print (optional) --------------------------------------------------------------------------------------------- */

@media print {
	body {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
/* Black prints faster: sanbeiji.com/archives/953 */
	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
/* Don't show links for images, or javascript/internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
/* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 1200px) {

}

/* Smaller screens */

@media only screen and (max-width: 1023px) {

}

/* Mobile */

@include breakpoint($breakpointMain) {

	body {
		font-size: $baseFontSize;
		-webkit-text-size-adjust: none;
	}

	.#{$rowNotation}, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.container {
		.#{$rowNotation} {
			padding: 0 $padding;
		}
		@for $i from 1 through $num-cols {
			.#{$rowNotation} {
				.#{col-name($i)}, .#{col-name($i)}:last-child {
					width: auto;
					float: none;
					position: static !important;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
	img {
		width: 100%;
		height: 100%;
	}
	header {
		overflow: visible;
	}
	.toolbar, .form-actions, header, footer, caption, menu, figure, figcaption, nav {
		text-align: center;
	}
	textarea, input {
		width: 98%;
		min-width: 98%;
		padding: $borderRadius;
	}
}