@import "compass/css3";
@import "variables.scss";
@import "helpers";

.nav, .nav ul {
	@extend %margin-none;
	@extend %padding-none;
	@extend %no-list-style;
}

.nav {
	background: darken($tertiaryColour, 15);
	border-bottom: $borderWidth $borderStyle darken($borderColour, 15%);
	overflow: visible;
	zoom: 1;
	width: $rowWidth;

	@include background(linear-gradient($tertiaryColour, darken($tertiaryColour, 30)));
	ul {
		//normal menu styling here
		@include breakpoint($breakpointMain) {
			li {
				width: $rowWidth;
				a {
					display: block;
					border-right: none;
					border-left: none;
					border-bottom: 1px solid darken($secondaryColour, 25);
				}
				&:last-child a {
					border-bottom: none;
				}
				ul, ul ul {
					@include opacity(1);
					visibility: visible;
					font-size: $fontSizeSmall;
					display: block;
					position: static;
					margin: 0;
				}
			}
		}
		a {
			color: $inverseTextColour;
			font-size: $fontSizeMedium;
			border-right: 1px solid darken($secondaryColour, 25);
			@extend .inline;
			padding: $paddingSmall $paddingLarge;
			text-decoration: none;
			text-shadow: 0 1px $paddingSmall $textColour;

			&:hover {
				@include background(linear-gradient(lighten($tertiaryColour, 30), $tertiaryColour));
			}
		}
		ul {
			//nested menu 1
			@extend %no-list-style;
			@extend .opacity-0;
			@extend .invisible;
			@extend %absolute;
			z-index: 9;
			top: 100%;
			@extend %normal-margin-left;
			background: darken($tertiaryColour, 20);
			@include transition(opacity $transitionTime $transitionFunction);
			@include box-shadow(0 0 $paddingSmall fade-out($bodyBackground, 0.5));

			ul {
				//nested menu 2
				left: 100%;
				top: 0;
				z-index: 10;
				li {
					&:first-child {
						a {
							&:after {
								left: -0.4em;
								top: $em * 0.8;
								width: 0;
								height: 0;
								border-left: 0;
								border-bottom: $borderRadius solid transparent;
								border-top: $borderRadius solid transparent;
								border-right: $borderRadiusLarge solid darken($secondaryColour, 40);
							}

							&:hover {
								&:after {
									border-right-color: lighten($tertiaryColour, 40);
									border-bottom-color: transparent;
								}
							}
						}
					}
					&:last-child {
						a {
							border-right-color: lighten($tertiaryColour, 40);
							border-bottom-color: transparent;
						}
					}
				}
			}
			li {
				&:hover {
					> ul {
						@extend .opacity-1;
						@extend .visible;
						@extend %margin-none;
					}
				}

				&:first-child {
					a {
						@extend %rounded-top;
						&:hover {
							&:after {
								border-bottom-color: lighten($tertiaryColour, 30);
							}
						}
						&:after {
							content: '';
							@extend %absolute;
							left: $marginLarge;
							top: -0.4em;
							width: 0;
							height: 0;
							border-left: $borderRadius solid transparent;
							border-right: $borderRadius solid transparent;
							border-bottom: $borderRadiusLarge solid darken($secondaryColour, 15);
						}
					}
				}
			}
		}
		li {
			@extend .inline;
			position: relative;
			&:hover {
				a {
					color: darken($inverseTextColour, 10);
				}
				> ul {
					display: block;
					@extend .opacity-1;
					@extend .visible;
					@extend %margin-none;
				}
			}
		}
	}
	&:before, &:after {
		content: "";
		display: table;
	}
}

//responsive button
.responsive-grid {
	@extend .btn;
	@extend %margin-none;
	@include breakpoint($breakpointMain) {
		& + input[type="checkbox"]:checked + nav {
			@include visuallyhidden;
		}
	}
}
